<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <title>Transfer Speed Calculator</title>

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="app.css">
</head>
<body ng-app="TSC" ng-cloak>

  <div class="container" ng-controller="TSCCtrl">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1>Transfer Speed Calculator</h1>
        <p>A tool to calculate how long (file) transfers take.</p>
      </div>
    </div>

    <form name="valuesForm" class="form" role="form">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <div class="input-group">
            <span class="input-group-addon">Size</span>
            <input type="number" class="form-control" id="size" name="size" placeholder="10.5" ng-model="values.size" required>
            <div class="input-group-btn" dropdown>
              <button type="button" class="btn btn-default dropdown-toggle">{{ values.factor.size }}B <span class="caret"></span></button>
              <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li ng-repeat="factor in names"><a href ng-click="setFactor('size', $index);" class="dropdown-toggle">{{ factor }}bytes</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <div class="input-group">
            <span class="input-group-addon">Speed</span>
            <input type="number" class="form-control" id="speed" name="speed" placeholder="8" ng-model="values.speed" required>
            <div class="input-group-btn" dropdown>
              <button type="button" class="btn btn-default dropdown-toggle">{{ values.factor.speed }}b/s <span class="caret"></span></button>
              <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li ng-repeat="factor in names"><a href ng-click="setFactor('speed', $index);" class="dropdown-toggle">{{ factor }}bits</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
          <label for="overhead">Overhead</label>
          <select class="form-control" id="overhead" name="overhead" ng-model="values.overhead" ng-options="value + '%' for value in overheads"></select>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
          <label for="kilosize">Kilosize</label>
          <select class="form-control" id="kilosize" name="kilosize" ng-model="values.kilosize" ng-options="value for value in kilosizes" required></select>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <h2>Result</h2>
          <p ng-show="valuesForm.$valid">
            It would take about
            <span ng-repeat="name in durations">
              <span ng-show="duration[name] > 0">
                <strong>{{ duration[name] }}</strong> {{ name }}<span ng-show="duration[name] > 1">s</span>
              </span>
            </span>
            to transfer <strong>{{ values.size }}</strong>
            {{ names[sizes.indexOf(values.factor.size)] }}bytes
            on a <strong>{{ values.speed }}</strong>
            {{ names[sizes.indexOf(values.factor.speed)] }}bit/s connection.
          </p>
          <p ng-show="valuesForm.$invalid">
            Invalid values entered.
          </p>
        </div>
      </div>
    </form>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h2>Misc</h2>
        <p>
          <a href="http://en.wikipedia.org/wiki/Kilo-">Kilosize</a>;
          Sometimes it is useful to calculate things using SI instead
          of computer science size for a kilo.
        </p>
        <p>
          Overhead; Usually there is some overhead when doing network operations
          10% is a good default.
        </p>
        <p>
          Created by <a href="https://www.github.com/egilkh">egilkh</a>
          with <a href="https://angularjs.org/">AngularJS</a>.
        </p>
      </div>
    </div>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js"></script>
  <script src="app.js"></script>

</body>
</html>
